body{
    text-align: center;
    align-content: center;
    
}



.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-constainer{
    background-image: linear-gradient(to right, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 5px;
    width: 250px;
    color: white;
}

.summary-cointainer{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    border-radius: 16px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
}